body {
            color: whitesmoke;
            text-align: center;
            background-color: #21434D;
        }

        img {
            border-radius: 20%;
            background-color: #32B379;
            padding: 3%;
        }

        h1 {
            font-size: 60px;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .infos {
            font-family: Arial, Helvetica, sans-serif;
        }

        .prim {
            
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            background-color: #32B379;
            padding: 2px;
        }

        .seg {
            font-family: Arial, Helvetica, sans-serif;
        }

        .ter {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            background-color: #32B379;
            padding: 2px;
        }

        .qua {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .buttons {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: #32B379;
            border-radius: 400px;
            color:whitesmoke;
            text-decoration: none;
           
        }